#showCharts{
  border: 1px solid lightgray;
  width: 600px;
  margin: 0;
}
#theCharts{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#karttaPic{
  width: 600px;
}
.typeButton{
  border: none;
  width: 96px;
  height: 40px;
  margin: 0;
  font-size: 12px;
}
.testList{

}
.testDiv{
  width: 600px;
  height: 150px;
}
.testHeader{
  position: absolute;
  margin: 20px 0 0 20px;
  font-size: 17px;
  font-weight: bold;
}
.testNumber{
  position: absolute;
  margin: 60px 0 0 40px;
  font-size: 15px;
}
.testDate{
  position: absolute;
  margin: 80px 0 0 40px;
  font-size: 15px;
}
.testIsbn{
  position: absolute;
  margin: 100px 0 0 40px;
  font-size: 15px;
}
.gray{
  background-color: lightgray;
}
.headerImg{
  width: 600px;
  margin: 0;
}
.listSerial{
  position: absolute;
  width: 200px;
  margin: 50px 0 0 400px;
  text-align: center;
  font-size: 40px;
}
.buttonText{
  font-size: 12px;
}
.checkbox{
  margin-right: 15px;
}
#searchDiv{
  margin-bottom: 15px;
}
.tempImg{
  width: 600px;
}
